.borrowH2 {
    width: 85%;
}

.container {
    display: flex;
}

.loanContainer {
    flex-grow: 2;
}

.content {
    width: 100%;
}

.bookNumber {
    width: 50%;
    height: 40px;
}

.bookSubmit {
    color: #1E88E5;
    background-color: #009879;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 20px;
}

.borrowBook {
    color: #1E88E5;
    background-color: rgb(248, 79, 79);
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 20px;
}

.loanStatus {
    float: left;
}

.bookList {
    width: 90%;
}

.bookListTable {
    width: 100%;
    text-align: center;

    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.bookListTable thead {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.bookListTable th,
td {
    padding: 12px 15px;
}

.bookListTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.bookListTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.bookListTable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.bookImg {
    width: 40px;
    height: auto;
    margin-right: 15px;
}

.loanBookBoxContainer {
    justify-content: flex-end;
    flex-direction: column;
    flex-grow: 1;
}

.loanBookBox {
    width: 80%;
    height: 100%;
    border: 1px solid #ccc;
    padding: 10px;
}

.loanBookBox ul {
    list-style-type: none;
    padding: 0;
}

.loanBookBox li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.book {
    font-weight: bold;
}

.due-date {
    color: #888;
}