.overdue {
  margin: 0;
}

.overdueSort {
  display: flex;
  justify-content: flex-end;
}

.overdueSort input[type="text"] {
  padding: 5px;
  margin: 10px 0px;
  text-align: center;
  height: 30px;
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
  color: #333;
  padding: 8px;
  font-size: 16px;
  transition: border-bottom-color 0.3s ease-in-out;
}

.overdueSort input[type="text"]:focus {
  outline: none;
  border-bottom-color: #009879;
}

.overdueSort::placeholder {
  color: #aaaaaa;
}
