table{
  text-align: center;
}
.retrunStack{
  border-spacing: 0cm;
}
tbody{
  width: 100%;
  
}
#loanForm {
  margin-bottom: 20px;
  margin-right: 30px;
  width: 60%;
  float: left;
}
form {
  display: flex;
}
#content {
  display: flex;
}
#booknuminput {
  width: 100%;
  margin-top: 45px;
}
#book-number {
  font-size: 20px;
  color: #222222;
  width: 80%;
  border: none;
  border-bottom: solid #aaaaaa 2px;
  background: none;
}
#book-submit {
  color: #1e88e5;
  background-color: #009879;
  color: white;
  border: none;
  padding: 10px 30px;
  font-size: 20px;
}
#returnBook {
  background-color: rgb(248, 79, 79);
  color: white;
  border: none;
  padding: 10px 30px;
  font-size: 20px;
}
th {
  padding: 10px;
  background-color: #009879;
  color: #fff;
}
td {
  background-color: #b1b1b222;
  border-color: #aaa;
  border-width: 1px;
  color: #333;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
#bookImg {
  width: 100px;
  height: auto;
}
#cancle{
  width: 30px;
  display: block;
  margin: 0 auto;
}
#bookReturn{
  overflow: hidden;
}
