header {
    font-size: 1.5rem;
    padding: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    border-bottom: 1px solid black;
}

header>a{
    text-decoration: none;
    color: black;
}

.body {
    display: flex;   
}

.menu {
    padding: 20px 60px 20px 20px;
    border-right: 1px solid black;
    height: 100vh;
    width: 15%;
}

.menu>ul{
    padding-left: 0;
}

.menu>ul>li{
    list-style: none;
}

.inputUserNumber {
    margin: 20px;
    padding: 10px;
}

.libInfo {
    display: flex;
}

.contents {
    padding: 20px;
}

.menuTab{
    width: 100%;
    
}
.menuTab>div{
    display: flex;
    height: 70px;
    text-align: center;
    line-height: 70px;
}

.menuTab>div>a{
    color: #000;
    text-decoration: none;
}

.menuItem{
    flex-grow: 1;
    border-bottom: 1px solid black;
}

.active {
    font-weight: bold;
    border-bottom: 3px solid black;
}
@import url(./pages/bookStatus.css);
@import url(./pages/bookLog.css);
@import url(./pages/borrow.css);
@import url(./pages/return.css);